html{
    scroll-behavior: smooth;
}
#skip{
    position: relative;
    left: -500px;
    text-align: center;
}



#skip:focus{
    left: 100px;
    transition: 1s
}
html{
    background-color: rgb(30, 159, 210);
    scroll-behavior: smooth
}

header{
    text-align: center;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
nav {
    background-color: #196dc1; 
    text-align: center; 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  

}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 12px 18px; 
    font-size: 16px; 
    font-weight: 500;
    transition: background-color 0.3s ease; 
    align-items: center;
   
}
nav a:hover {
    background-color: #3498db; 
    color: white; 
}
@media (prefers-reduced-motion: reduce) {
    html {
      		scroll-behavior: auto; /* Disable smooth scrolling */
    }

    #skip:focus{
        	transition: 0s !important;
    }
  }
  @media (prefers-color-scheme: dark) {
    nav {
        background: #61066f;
        border: solid 6px #362712;
       }
        nav a {
               color: #fff;
    }
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.image-grid img {
    width: 100%; /* Ensures the image scales with the column size */
    border: 5px double #3949ab; /* Double border with a specific color */
    padding: 5px; /* Creates some space around the image inside the border */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
    transition: transform 0.3s ease; /* Smooth transformation on hover */
}

.image-grid img:hover {
    transform: scale(1.05); /* Slightly enlarges the photo on hover */
}

/* This media query will change the layout to 3 columns when the screen is wider than 600px */
@media (min-width: 600px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

   
        
        
    
    



